{
  "host": "mail.archlinux.org",
  "port": 993,
  "tls": true,
  "tlsOptions": {
    "rejectUnauthorized": true
  },
  "username": "{{ (rbw "arch email").data.username }}",
  "password": "{{ (rbw "arch email").data.password }}",
  "onNewMail": "/usr/bin/mbsync -q -c ~/.config/isync/mbsyncrc arch:INBOX",
  "onNewMailPost": "/usr/bin/notmuch new --quiet",
  "boxes": [ "INBOX" ]
}
