{
  "host": "mail.alex19ep.me",
  "port": 993,
  "tls": true,
  "tlsOptions": {
    "rejectUnauthorized": true
  },
  "username": "{{ (rbw "my email").data.username }}",
  "password": "{{ (rbw "my email").data.password }}",
  "onNewMail": "/usr/bin/mbsync -q -c ~/.config/isync/mbsyncrc personal:INBOX",
  "onNewMailPost": "/usr/bin/notmuch new --quiet",
  "boxes": [ "INBOX" ]
}
