{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

[data]
    osid = {{ $osid | quote }}
    name = "Alexander Epaneshnikov"
    codespaces = {{ $codespaces }}
    {{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
    email = "aarnaarn2@gmail.com"
    myGpgKey = "none"
    work = false
    {{- else }}{{/* Interactive setup, so prompt for an email address */}}
    email = {{ promptString "email" "aarnaarn2@gmail.com" | quote }}
    myGpgKey = {{ promptString "gpg key fingerprint" "6C7F7F22E0152A6FD5728592DAD6F3056C897266" | quote }}
    work = {{ promptBool "is it a work computor?" false }}
    {{- end }}
