[user]
	name = Alexander Epaneshnikov
	email = aarnaarn2@gmail.com
[rerere]
	enabled = true
[commit]
	gpgsign = true
	status = true
	verbose = true
[log]
	abbrevCommit = true
	date = relative
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
