{{- if lookPath "deepl" -}}
alias trans=' deepl text'
alias engtr='trans --to en-us'
{{- end }}
alias code={{ template "vscode" }}
alias "L"="| less"
alias "cz"="chezmoi"
{{ if lookPath "paru" }}alias "pa"="paru"{{ end }}
{{ if lookPath "pkgctl" }}alias "pkc"="pkgctl"{{ end }}
