{{- if eq .work true }}
set -g default-shell /bin/zsh
{{- end }}
set-option -g status off
set-option -g default-terminal tmux-256color
set-option -g buffer-limit 25
set-option -g prefix C-a
bind-key C-a last-window
bind-key a send-prefix

set-option -g set-titles on
set-option -g set-titles-string '#{?session_alerts,🔔#{session_alerts} ,}#T - #W:#I-#S'
set-option -g automatic-rename off
set-option -g focus-events on
set-option -sg escape-time 10
set-option -g focus-events on
set-option -sa terminal-overrides ',xterm-256color:RGB'
set-window-option -g aggressive-resize on
set-option -g base-index 1
set-option -g pane-base-index 1

set-option -ga update-environment " UPTERM_ADMIN_SOCKET"
set-option -g update-environment "DIRENV_DIFF DIRENV_DIR DIRENV_WATCHES"
set-environment -gu DIRENV_DIFF
set-environment -gu DIRENV_DIR
set-environment -gu DIRENV_WATCHES
set-environment -gu DIRENV_LAYOUT

# split panes using | and -
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# Create new panes in the same working directory
bind c new-window -c "#{pane_current_path}"

# url-scan
bind-key u capture-pane \; save-buffer /tmp/tmux-buffer \; new-window -n "url-scan" '$SHELL -c "urlscan < /tmp/tmux-buffer"'

set-option -g @plugin 'tmux-plugins/tpm'
set-option -g @plugin 'tmux-plugins/tmux-sensible'
set-option -g @plugin 'tmux-plugins/tmux-open'
set-option -g @plugin 'tmux-plugins/tmux-yank'
set-option -g @plugin 'MunifTanjim/tmux-suspend'
set-option -g @plugin 'roosta/tmux-fuzzback'

run '~/.config/tmux/plugins/tpm/tpm'
