Create Both
Expunge Both
CopyArrivalDate yes
SyncState *
Fsync no
Sync All

# gmail
IMAPAccount gmail
Host imap.gmail.com
User {{ (rbw "google").data.username }}
Pass {{ (rbwFields "google").apppassword_linux.value  }}
TLSType IMAPS

# personal
IMAPAccount personal
Host mail.alex19ep.me
User {{ (rbw "my email").data.username }}
Pass {{ (rbw "my email").data.password }}
TLSType IMAPS

# admin
IMAPAccount admin
Host mail.alex19ep.me
User {{ (rbw "admin email").data.username }}
Pass {{ (rbw "admin email").data.password }}
TLSType IMAPS

# arch linux
IMAPAccount arch
Host mail.archlinux.org
User {{ (rbw "arch email").data.username }}
Pass {{ (rbw "arch email").data.password }}
TLSType IMAPS

IMAPStore gmail-remote
Account gmail

IMAPStore personal-remote
Account personal

IMAPStore admin-remote
Account admin

IMAPStore arch-remote
Account arch

MaildirStore gmail-local
SubFolders Verbatim
Path ~/.local/share/mail/gmail/
Inbox ~/.local/share/mail/gmail/Inbox

MaildirStore personal-local
SubFolders Verbatim
Path ~/.local/share/mail/personal/
Inbox ~/.local/share/mail/personal/Inbox

MaildirStore admin-local
SubFolders Verbatim
Path ~/.local/share/mail/admin/
Inbox ~/.local/share/mail/admin/Inbox

MaildirStore arch-local
SubFolders Verbatim
Path ~/.local/share/mail/arch/
Inbox ~/.local/share/mail/arch/Inbox

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns *

Channel personal
Far :personal-remote:
Near :personal-local:
Patterns *

Channel admin
Far :admin-remote:
Near :admin-local:
Patterns *

Channel arch
Far :arch-remote:
Near :arch-local:
Patterns *
