defaults
port           465
tls            on
tls_starttls   off
auth           on

# Gmail
account        gmail
host           smtp.gmail.com
from           aarnaarn2@gmail.com
user           aarnaarn2@gmail.com
password       vnlaxsgrfddgitzf

# personal
account        personal
host           mail.alex19ep.me
from           email@alex19ep.me
user           email@alex19ep.me
password       76pjQmRmj6tBQB

# arch linux
account        arch
host           mail.archlinux.org
from           alex19ep@archlinux.org
user           alex19ep@archlinux.org
password       embody4-barn-refocus
