MAKEFLAGS="-O -j$(nproc)"
INTEGRITY_CHECK=(sha512 b2)
PACKAGER="Alexander Epaneshnikov <alex19ep@archlinux.org>"
GPGKEY={{ .myGpgKey | quote }}
SRCDEST="$HOME/.cache/makepkg/src"
SRCPKGDEST="$HOME/.cache/makepkg/srcpkg"
PKGDEST="$HOME/.cache/makepkg/pkg"
LOGDEST="$HOME/.local/state/makepkg/log"
