{{- if eq .osid "linux-debian" "linux-sberos" -}}
pcsc-driver /usr/lib/x86_64-linux-gnu/libpcsclite.so.1
{{- else -}}
pcsc-driver /usr/lib/libpcsclite.so
{{- end }}
disable-ccid
pcsc-shared
disable-application piv
